In [4]:
lists = [98,11,13,3,15,17,19,99] #declaring the python datatype list named 'lists' with 8 elements

sum_lists = 0 #initialising the sum value to 0
mul_lists = 1 #initialising the product value to 0
largest_num = lists[0] #initialising the largest value to first element i.e., 98
smallest_num = lists[0] #initialising the smallest value to first element i.e., 98

for i in lists: #for loop that runs for all the elements in the list 'lists'
    sum_lists = sum_lists + i #adding the current element with sum and storing it in sum 'sum_lists'
    mul_lists = mul_lists * i #multiplying the current element with product and storing it in product 'mul_lists'
    if(i < smallest_num): #checking if there's any element lesser than the present smallest value
        smallest_num = i #if true, assigning the element as the smallest value
    elif(i > largest_num): #checking if there's any element greater than the present smalleest value
        largest_num = i #if true, assigning the element as the largest value
        
print("Sum of all the items of the list : ",sum_lists,"\nMultiply all the items : ",mul_lists,"\nLargest number from the list : ",largest_num,"\nSmallest number from the list : ",smallest_num) #printing the output

Sum of all the items of the list :  275
Multiply all the items :  20165655510
Largest number from the list :  99
Smallest number from the list :  3

In [7]:
A = ['abc', 'xyz', 'aba', '1221'] #given string 'A'

for i in range(len(A)): #for loops that runs for the length of A i.e., 4
    string = A[i] #'string' stores the current element
    if string[0] == string[-1]: #checking if the first and last characters of the current element are same
        print(string,"at index ",i) #printing the output

aba at index  2
1221 at index  3

In [12]:
for i in range(1, 6): #for loop that runs from 1 to 5 (inclusive)
    for j in range(65, 65 + i): #nested loop that runs from ASCII value 65 ('A') to 65 + i - 1
        print(chr(j), end="") #printing the character corresponding to ASCII value of j, without newline
    print() #printing a newline

A
AB
ABC
ABCD
ABCDE

In [13]:
for i in range(1, 6): #for loop that runs from 1 to 5 (inclusive)
    print('*' * i) # printing the output

*
**
***
****
*****

In [14]:
ListColour= [["Black", "Red", "Maroon", "Yellow"], ["000000", "FF0000","800000", "FFFF00"]] #given list 'ListColour'
new_list = [] #initialising an empty list 'new_list' to add the new dictionaries
for i in range(len(ListColour[0])): #for loop that runs throuh the len of the first sub list i.e., 4
    new_dict = {'colorName': ListColour[0][i], 'colorCode': ListColour[1][i]} #creating a new dictionary with colorName and colorCode
    new_list.append(new_dict) #appending the new dictionary to the 'new_list'
print(new_list) #priniting the output

[{'colorName': 'Black', 'colorCode': '000000'}, {'colorName': 'Red', 'colorCode': 'FF0000'}, {'colorName': 'Maroon', 'colorCode': '800000'}, {'colorName': 'Yellow', 'colorCode': 'FFFF00'}]

In [2]:
def sq_fun(n):
    for i in range(1, n): #for loop that runs from 1 to n-1 (inclusive)
        if i % 2 == 0: #checking for even numbers
            print("Number : ",i," Square: ",i**2) #printing the output

In [3]:
sq_fun(50) #for 1 to 50

Number :  2  Square:  4
Number :  4  Square:  16
Number :  6  Square:  36
Number :  8  Square:  64
Number :  10  Square:  100
Number :  12  Square:  144
Number :  14  Square:  196
Number :  16  Square:  256
Number :  18  Square:  324
Number :  20  Square:  400
Number :  22  Square:  484
Number :  24  Square:  576
Number :  26  Square:  676
Number :  28  Square:  784
Number :  30  Square:  900
Number :  32  Square:  1024
Number :  34  Square:  1156
Number :  36  Square:  1296
Number :  38  Square:  1444
Number :  40  Square:  1600
Number :  42  Square:  1764
Number :  44  Square:  1936
Number :  46  Square:  2116
Number :  48  Square:  2304

In [4]:
sq_fun(100) #for 1 to 100

Number :  2  Square:  4
Number :  4  Square:  16
Number :  6  Square:  36
Number :  8  Square:  64
Number :  10  Square:  100
Number :  12  Square:  144
Number :  14  Square:  196
Number :  16  Square:  256
Number :  18  Square:  324
Number :  20  Square:  400
Number :  22  Square:  484
Number :  24  Square:  576
Number :  26  Square:  676
Number :  28  Square:  784
Number :  30  Square:  900
Number :  32  Square:  1024
Number :  34  Square:  1156
Number :  36  Square:  1296
Number :  38  Square:  1444
Number :  40  Square:  1600
Number :  42  Square:  1764
Number :  44  Square:  1936
Number :  46  Square:  2116
Number :  48  Square:  2304
Number :  50  Square:  2500
Number :  52  Square:  2704
Number :  54  Square:  2916
Number :  56  Square:  3136
Number :  58  Square:  3364
Number :  60  Square:  3600
Number :  62  Square:  3844
Number :  64  Square:  4096
Number :  66  Square:  4356
Number :  68  Square:  4624
Number :  70  Square:  4900
Number :  72  Square:  5184
Number :  74  Square:  5476
Number :  76  Square:  5776
Number :  78  Square:  6084
Number :  80  Square:  6400
Number :  82  Square:  6724
Number :  84  Square:  7056
Number :  86  Square:  7396
Number :  88  Square:  7744
Number :  90  Square:  8100
Number :  92  Square:  8464
Number :  94  Square:  8836
Number :  96  Square:  9216
Number :  98  Square:  9604

In [5]:
n = int(input("Enter a 4-digit number : ")) #reading a 4-digit number from the user

if 1000 <= n <= 9999: #checking if the number is a 4-digit number
    sum_digits = 0 #initializing the sum value to 0
    for digit in str(n): #for loop that runs over each character in the string representation of 'n'
        sum_digits += int(digit) #converting the character to an integer and add it to the sum
    reversed_num = "" #initializing a variable for reversed number
    for digit in str(n)[::-1]: #for loop that runs over each character in the reversed string representation of 'n'
        reversed_num += digit # appending the character to the reversed_num string
    print("Sum : ", sum_digits,"\nReversed Number : ", reversed_num) #printing the output

Enter a 4-digit number : 1567
Sum :  19
Reversed Number :  7651

In [12]:
import math #importing math library

def area_of_triangle(a, b, c): #defining a function named 'area_of_triangle'
    s = (a + b + c) / 2 #semi-perimeter
    area = math.sqrt(s * (s - a) * (s - b) * (s - c)) #calculating area
    return area #returning area

#input sides for the first triangle
a1 = float(input("Enter the first side of the first triangle: "))
b1 = float(input("Enter the second side of the first triangle: "))
c1 = float(input("Enter the third side of the first triangle: "))

#input sides for the second triangle
a2 = float(input("Enter the first side of the second triangle: "))
b2 = float(input("Enter the second side of the second triangle: "))
c2 = float(input("Enter the third side of the second triangle: "))

#calculating areas
area1 = area_of_triangle(a1, b1, c1)
area2 = area_of_triangle(a2, b2, c2)
total_area = area1 + area2

#calculating contributions
contribution1 = (area1 / total_area) * 100
contribution2 = (area2 / total_area) * 100

print("Area of the first triangle : ",area1,"\nArea of the second triangle : ",area2,"\nTotal area enclosed by both triangles : ",total_area,"\nFirst triangle's contribution to total area : ",contribution1,"\nSecond triangle's contribution to total area : ",contribution2) #printing the output

Enter the first side of the first triangle: 2
Enter the second side of the first triangle: 3
Enter the third side of the first triangle: 4
Enter the first side of the second triangle: 3
Enter the second side of the second triangle: 4
Enter the third side of the second triangle: 6
Area of the first triangle :  2.9047375096555625
Area of the second triangle :  5.332682251925386
Total area enclosed by both triangles :  8.237419761580949
First triangle's contribution to total area :  35.26271082121081
Second triangle's contribution to total area :  64.7372891787892

In [13]:
people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "O+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "O-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
] #given list 'people'

def print_people_info(people): #defining the function 'print_people_info'
    for person in people: #for loop that runs for every element in 'people'
        print("Name : ",person['name']) #printing the output
        print("Age : ",person['age'])
        print("Blood Group : ",person['blood_group'])
        print("-" * 30)

print_people_info(people) #calling the function

Name :  John Doe
Age :  30
Blood Group :  A+
------------------------------
Name :  Jane Smith
Age :  25
Blood Group :  B-
------------------------------
Name :  Emily Davis
Age :  40
Blood Group :  O+
------------------------------
Name :  Michael Brown
Age :  35
Blood Group :  AB-
------------------------------
Name :  William Johnson
Age :  28
Blood Group :  A-
------------------------------
Name :  Emma Wilson
Age :  22
Blood Group :  B+
------------------------------
Name :  Oliver Martinez
Age :  33
Blood Group :  O-
------------------------------
Name :  Sophia Anderson
Age :  27
Blood Group :  AB+
------------------------------
Name :  James Thomas
Age :  45
Blood Group :  A+
------------------------------
Name :  Isabella Lee
Age :  38
Blood Group :  B-
------------------------------

In [16]:
def extract_rear_elements(tuple_of_strings): #defining the function 'extract_rear_elements'
    l = [] #initialising an empty list to store the last character
    for string in tuple_of_strings: #foor loop that runs over the elements in the tuple
        l.append(string[-1]) #append the list with the last character
    return l #returning the last character list

input_tuple = ("python", "learn", "includehelp") #given input tuple
output_list = extract_rear_elements(input_tuple) #calling the function
print(output_list) #printing the output

['n', 'n', 'p']

In [18]:
def days_in_month(month_name, year):
    days_in_months = {
        "January": 31,
        "February": 29 if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0) else 28,
        "March": 31,
        "April": 30,
        "May": 31,
        "June": 30,
        "July": 31,
        "August": 31,
        "September": 30,
        "October": 31,
        "November": 30,
        "December": 31
    } #dictionary containing days in each month and checking for leap year in February
    month_name = month_name.strip().title() #standardizing month name
    return days_in_months.get(month_name, None) #returning days if month is valid

month_name = input("Enter the month name: ") #getting month from user
year = int(input("Enter the year: ")) #getting year from user

num_days = days_in_month(month_name, year) #calling the function

if num_days is not None:
    print("Number of days in ",month_name,year," : ",num_days) #printing the output
else:
    print("Invalid month name entered.")

Enter the month name: March
Enter the year: 2024
Number of days in  March 2024  :  31